<a href="https://colab.research.google.com/github/Colsai/DATA-601-Wan/blob/main/DATA601_WK3_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA601: Homework 3
- Generate 100 (n) rows of randomly-chosen people.

I'm going to assume that we are looking at *only faking US citizens*.  
One of the issues with other countries is that phone numbers, postal codes, popular names, etc. are all very regionally/country-dependent.   
Since I am randomizing from tables, it would NOT be a good idea to broaden this scope as being representative of world citizens, which would take far more complexity.

In [302]:
#Import Packages to begin
import random
import pandas as pd
import numpy as np

Making sure that all phone numbers will be of len 3 + 7 = 10.  
https://stackoverflow.com/questions/733454/best-way-to-format-integer-as-string-with-leading-zeros

## Categories that we will look at
•Email addresses. Must have @  
•Phone  numbers  
•Home  Address  
•Person's  name  
•Year born. Use realistic values.  
•Number  of kids. Use realisticvalues  
•Categorical variable: rent or own?  
•Annual income.Optional challenge:  Use a non-uniform distribution  
•Number  of speeding  tickets in past year.Optional challenge:  Use a   non-uniform distribution

US Area Codes are between 0-200. Since we don't really know where they got their phone number, it is possible for phone number not to be near or equal to the home address

- I'm not 100% sure that the Z-fill will work, but I think it should

## Fake Phone Number

In [327]:
def gen_fake_phone():
    area_code = str(random.randint(200,999))
    digits = random.randint(0,9999999)

    #Phone Numbers Need to be at least 7 digits
    len_check = len(str(digits))
    
    if len_check < 7:
        extra_digits = len_check - 7
        digits = ("0" * extra_digits) + str(digits)

    fake_phone = int(str(area_code) + str(digits))
    
    return fake_phone

In [304]:
for i in range(0,5):
    print(generate_fake_phone())

7
8191865196
7
2407859704
7
7991488370
7
4103363115
7
3238926922

## Genders
Let's assume that Gender is either M/F (as biological sex).  
The US has about 52/48 F/M ratio for biological sex.

In [305]:
#Randomize Gender (Based roughly on the 48/52 distribution in society)
def fake_gender():
    fake_gender = random.choices(('M','F'),(48,52))
    return fake_gender[0]

In [306]:
#For 
fake_gender()

'F'

## Generate a Random Name
Takes a gender
Random pick from Popular Last Names
Takes both

In [307]:
#Read the HTML of the most popular first names
df = pd.read_html('https://www.ksat.com/features/2020/12/31/these-were-the-50-most-popular-baby-names-in-2020/')[0]
girls_fnames = df['Girls'].to_list()
boys_fnames = df['Boys'].to_list()

#Last Names
df2 = pd.read_html('https://en.wikipedia.org/wiki/List_of_most_common_surnames_in_North_America')[7]
flast_name_list = df2['Name'].to_list()

In [308]:
#Let's assume that names should go with genders (gender would be defined first, prior to birth, then naming would come after)
def gen_fake_full_name(fake_gender):
    if fake_gender == 'F':
      fname = random.choice(girls_fnames)

    elif fake_gender == 'M':
      fname = random.choice(boys_fnames)

    else:
        fname = 'Unknown'

    flast_name = random.choice(flast_name_list)

    fake_full_name = "".join([fname, " ",flast_name]) 
    return fake_full_name

In [309]:
fake_full_name('F')

'Hannah Harris'

## Locations
So, what are the most common places for people to live? These places should be statistically most likely for our example fake data to be from, so they could be good candidates. I'll scrape a single table from Wikipedia.

In [310]:
#Dataframe 'Locations' table 10 is the list for the USA
df_locations = pd.read_html('https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population')[10]
df_locations.head()

            City  ...                                          Location
0       Paradise  ...  36°04′51″N 115°08′12″W﻿ / ﻿36.08073°N 115.1368°W
1      Arlington  ...       38°52′48″N 77°10′59″W﻿ / ﻿38.880°N 77.183°W
2  Sunrise Manor  ...   36°10′43″N 115°02′56″W﻿ / ﻿36.1785°N 115.0490°W
3  Spring Valley  ...   36°05′55″N 115°15′43″W﻿ / ﻿36.0987°N 115.2619°W
4       Metairie  ...     29°59′52″N 90°10′40″W﻿ / ﻿29.9978°N 90.1779°W

[5 rows x 11 columns]

In [311]:
#Let's focus in only on locations for the city and state. The other parts aren't important
df_city_state = df_locations[['City','State']]
df_city_state.head()

            City      State
0       Paradise     Nevada
1      Arlington   Virginia
2  Sunrise Manor     Nevada
3  Spring Valley     Nevada
4       Metairie  Louisiana

What is the highest house number: https://able2know.org/topic/160467-1#:~:text=The%20highest%20house%20number%20I,108%20miles%20from%20Key%20West.

In [312]:
def gen_fake_address():
    #Randomize what they might live in
    fake_housing_type = random.choice(["House","Apartment"])

    fake_number = random.randint(0,33007)
    fake_streetname = random.choice(['Lane','Golden Park'])
    fake_street = random.choice(["Street", "BLVD", "Ave", "Culdesac"])

    #Let's sample a city using pd.sample()
    sample_city = df_city_state.sample(1)
    fake_city = sample_city['City'].to_string(index = False)
    fake_state = sample_city['State'].to_string(index = False)

    #The corresponding zip code should probably match up, too
    fake_zip = random.randint(10000,90000)

    if fake_housing_type == 'Apartment':
        fake_apartment_number = random.randint(0,9999)
        fake_full_address = f"{fake_number} {fake_streetname} {fake_street},{fake_city}{fake_state} {fake_zip}"

    else:
        fake_full_address = f"{fake_number} {fake_streetname} {fake_street},{fake_city}{fake_state} {fake_zip}"

    return str(fake_full_address)

In [313]:
fake_address()

'3092 Lane Street, Spring Valley Nevada 80189'

Source: https://www.geeksforgeeks.org/compute-the-weighted-average-of-a-given-numpy-array/

## Children
https://www.statista.com/statistics/718084/average-number-of-own-children-per-family/

Children can be seen as
Is it a family household? 
https://www.prb.org/u-s-household-composition-shifts-as-the-population-grows-older-more-young-adults-live-with-parents/#:~:text=In%201960%2C%2085%20percent%20of,35%20percent%20during%20this%20period.
(65% are)

If it is a family household, do they have children?
https://www.statista.com/statistics/242074/percentages-of-us-family-households-with-children-by-type/
(40%)

What number of children do families typically have?
https://www.pewresearch.org/fact-tank/2018/08/09/middle-children-have-become-rarer-but-a-growing-share-of-americans-now-say-three-or-more-kids-are-ideal/

In [315]:
def gen_fake_children():
    #Chance of children in a family = if family household AND if family household has children
    family_household_chance = .65
    children_chance = .4

    #Chance of children
    chance_of_children = family_household_chance * children_chance

    #Checks possibility of children
    children_exist = random.choices(['Yes','No'],[chance_of_children,1-chance_of_children])[0]

    if children_exist == 'Yes':
        num_kids = random.choices([1,2,3,4],[21,41,23,15])[0]

    elif children_exist == 'No':
        num_kids = 0

    else:
        num_kids = 0

    return num_kids

In [316]:
fake_children()

0

## Speeding Tickets
Background Information:
What is the average number of speeding tickets? 
- First, the average number of speeding tickets per year is about ~17% (1/6)
Source: https://modernattorney.com/blog/facts-statistics-about-speeding-tickets

- Second, if you get more than 4 speeding convictions in 3 years, you have your license revoked. So, people cannot have more than 4/3 = 1.3 * years driving in tickets (that would be the max).

-This function randomizes a theoretical age between 18-90 for the fake person, then randomizes and counts whether or not a ticket in each year driving, then compares it to the maximum number of tickets possible. 

If it is higher than the maximum, it is becomes the maximum, since you cannot drive if you have more than X number of tickets.

In [317]:
def gen_fake_tickets():
    #This won't be used in the data, but will let us set a maximum number of lifetime speeding tickets.
    fake_driving_years = random.randint(18,90) - 18

    #Chance of a ticket
    ticket_chance = .16
    ticket_years = []

    for year in range(0,fake_driving_years):
        ticket_year = random.choices((0,1),(1-ticket_chance, ticket_chance))[0]
        ticket_years.append(ticket_year)

    tickets_full_count = sum(tickets)

    if tickets_full_count >= (fake_driving_years * 1.3):
        tickets_full_count = (fake_driving_years * 1.3)

    return ticket_count

In [318]:
fake_tickets()

4

#
https://www.census.gov/housing/hvs/files/currenthvspress.pdf

In [319]:
#Categorical Variable (Rent or Own)
housing_status = random.choices(['Rent','Own'],[58.6,30.4])
housing_status

['Rent']

In [320]:
home_address =

SyntaxError: ignored

In [321]:
#https://www.wcnc.com/article/life/heartwarming/oldest-living-american-is-from-charlotte-and-shes-celebrating-her-116th-birthday-amidst-coronavirus-pandemic/275-705e109b-18c0-45a9-b58a-f9a0fa63cb1e#:~:text=The%20oldest%20living%20American%20is,(COVID%2D19)%20pandemic.
age = random.randint(0,116)
print(age)

49

In [322]:
https://www.geeksforgeeks.org/compute-the-weighted-average-of-a-given-numpy-array/

SyntaxError: ignored

## Recreate as a .CSV
Each Row Will Include all of the data

In [328]:
number_people = 10
people_list = []

for person in range(0,number_people):
    people_list.append([gen_fake_full_name('F'),
                        gen_fake_address(),
                        gen_fake_phone(),
                        gen_fake_tickets(), 
                        gen_fake_children()
                        ])

people_list

[['Emily Sanders',
  '23075 Lane Culdesac, Enterprise Nevada 78862',
  4373618787,
  4,
  0],
 ['Madison Jones',
  '16911 Lane Ave, East Los Angeles California 28307',
  6245153146,
  4,
  2],
 ['Ella Reyes',
  '30755 Lane Street, East Los Angeles California 15041',
  6812030705,
  4,
  0],
 ['Evelyn Cruz',
  '21560 Golden Park Ave, Metairie Louisiana 22294',
  9718012498,
  4,
  0],
 ['Madison Cruz',
  '17671 Lane Street, Brandon Florida 20707',
  4594114145,
  4,
  3],
 ['Adalyn Johnson',
  '21727 Golden Park Ave, Paradise Nevada 22625',
  6947217839,
  4,
  2],
 ['Luna Harris',
  '12720 Lane Culdesac, Arlington Virginia 14764',
  4792003463,
  4,
  3],
 ['Isabella Jenkins',
  '26755 Golden Park Street, Spring Valley Nevada 54360',
  7075611132,
  4,
  4],
 ['Evelyn Mitchell',
  '24060 Lane BLVD, Sunrise Manor Nevada 75938',
  8067408826,
  4,
  0],
 ['Aurora Clark',
  '21889 Lane Street, Metairie Louisiana 71607',
  9066198775,
  4,
  0]]