<a href="https://colab.research.google.com/github/Colsai/DATA_601_Wan/blob/main/DATA601_H2A3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA601 
WEEK 2 Homework 3 (Wan)

In [1]:
#Load Pandas Package
import pandas as pd

In [3]:
#URL of the data
url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/letter_frequency.csv'

In [7]:
#Read the URL of the data as csv into the program
df = pd.read_csv(url)

In [6]:
#View the head of the data
df.head()

    Letter   "Frequency"   "Percentage"
0      "A"      24373121            8.1
1      "B"       4762938            1.6
2      "C"       8982417            3.0
3      "D"      10805580            3.6
4      "E"      37907119           12.6

In [9]:
#View the tail of the data
df.tail()

     Letter   "Frequency"   "Percentage"
21      "V"       2835696            0.9
22      "W"       6505294            2.2
23      "X"        562732            0.2
24      "Y"       5910495            2.0
25      "Z"         93172            0.0

In [10]:
#Transpose the data
df.transpose()

                     0        1        2   ...       23       24       25
Letter              "A"      "B"      "C"  ...      "X"      "Y"      "Z"
 "Frequency"   24373121  4762938  8982417  ...   562732  5910495    93172
 "Percentage"       8.1      1.6        3  ...      0.2        2        0

[3 rows x 26 columns]